@import "tailwindcss";

:root {
  --pdf-thumbnail-size: 240px;
}

.react-pdf__Page__canvas {
  width: var(--pdf-thumbnail-size) !important;
  height: var(--pdf-thumbnail-size) !important;
  object-fit: cover !important;
}
